<div class="editor-menu-top-section ">
        <div class="menu">
                <!-- <div class="button" (click)="addRect()">
                        <img class="icon" src="assets/icons/rectangle.svg"/>
                </div>
                
                <div class="button" (click)="addCircle()">
                        <img class="icon" src="assets/icons/circle.svg"/>
                </div>

                <div class="button" (click)="addTriangle()">
                        <img class="icon" src="assets/icons/triangle.svg"/>
                </div>

                <div class="button" (click)="addLine()">
                        <img class="icon" src="assets/icons/line.svg"/>
                </div>

                <div class="button" (click)="addText()">
                        <img class="icon" src="assets/icons/text.svg"/>
                </div> -->

        </div>
</div>