@import "./../../shared/styles/global.scss";

.editor-menu-top-section {
    width: 100%;
    height: 100%;
}

.menu {
    background-color: rgba(255, 166, 0);
    opacity: $highOpacity;
    width: 30%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 50%;
    height: 100%;
    width: 10%;  
    background-color: orangered;
    cursor: pointer;
}