<div class="editor-menu-right-section ">
    <div class="menu">
        <span [ngSwitch]="selectedObject?.type">
            <div *ngSwitchCase="'rect'">
                <div class="property-group">
                    <div class="property-group-name">Position</div>
                    <hr class="solid property-group-name-divider">
    
                    <div class="property">
                        <div class="property-name">X</div>
                        <input class="property-input" [ngModel]="selectedObject.left | number:'1.3-3'" (ngModelChange)="changeProperty('left', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Y</div>
                        <input class="property-input" [ngModel]="selectedObject.top | number:'1.3-3'" (ngModelChange)="changeProperty('top', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Angle</div>
                        <input class="property-input" [ngModel]="selectedObject.angle | number:'1.3-3'" (ngModelChange)="changeProperty('angle', $event)">
                    </div>
                </div>

                <div class="property-group">
                    <div class="property-group-name">Dimensions</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">Height</div>
                        <input class="property-input" [ngModel]="selectedObject.height | number:'1.3-3'" (ngModelChange)="changeProperty('height', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Width</div>
                        <input class="property-input" [ngModel]="selectedObject.width | number:'1.3-3'" (ngModelChange)="changeProperty('width', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Border</div>
                        <input class="property-input" type="number" [ngModel]="selectedObject.strokeWidth | number" (ngModelChange)="changeProperty('strokeWidth', $event)">
                    </div>
                </div>

                <div class="property-group">
                    <div class="property-group-name">Colors</div>
                    <hr class="solid property-group-name-divider">
    
                    <div class="property">
                        <div class="property-name">Background</div>
                        <input class="property-input-color" [colorPicker]="selectedObject.fill"  (colorPickerChange)="changeProperty('fill', $event)" [cpPosition]="'left'" [style.background]="selectedObject.fill"/>
                    </div>
                    <div class="property">
                        <div class="property-name">Border</div>
                        <input class="property-input-color" [colorPicker]="selectedObject.stroke"  (colorPickerChange)="changeProperty('stroke', $event)" [cpPosition]="'left'" [style.background]="selectedObject.stroke"/>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'circle'">
                <div class="property-group">
                    <div class="property-group-name">Position</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">X</div>
                        <input class="property-input" [ngModel]="selectedObject.left | number:'1.3-3'" (ngModelChange)="changeProperty('left', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Y</div>
                        <input class="property-input" [ngModel]="selectedObject.top | number:'1.3-3'" (ngModelChange)="changeProperty('top', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Angle</div>
                        <input class="property-input" [ngModel]="selectedObject.angle | number:'1.3-3'" (ngModelChange)="changeProperty('angle', $event)">
                    </div>
                </div>

                <div class="property-group">
                    <div class="property-group-name">Dimensions</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">Radius</div>
                        <input class="property-input" [ngModel]="selectedObject.radius | number:'1.3-3'" (ngModelChange)="changeProperty('radius', $event)">
                    </div>

                    <div class="property">
                        <div class="property-name">Border</div>
                        <input class="property-input" type="number" [ngModel]="selectedObject.strokeWidth" (ngModelChange)="changeProperty('strokeWidth', $event)">
                    </div>

                </div>

                <div class="property-group">
                    <div class="property-group-name">Colors</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">Background</div>
                        <input class="property-input-color" [colorPicker]="selectedObject.fill"  (colorPickerChange)="changeProperty('fill', $event)" [cpPosition]="'left'" [style.background]="selectedObject.fill"/>
                    </div>
                    <div class="property">
                        <div class="property-name">Border</div>
                        <input class="property-input-color" [colorPicker]="selectedObject.stroke"  (colorPickerChange)="changeProperty('stroke', $event)" [cpPosition]="'left'" [style.background]="selectedObject.stroke"/>
                    </div>
                </div>
            </div>
    
            <div *ngSwitchCase="'triangle'">
                <div class="property-group">
                    <div class="property-group-name">Position</div>
                    <hr class="solid property-group-name-divider">
    
                    <div class="property">
                        <div class="property-name">X</div>
                        <input class="property-input" [ngModel]="selectedObject.left | number:'1.3-3'" (ngModelChange)="changeProperty('left', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Y</div>
                        <input class="property-input" [ngModel]="selectedObject.top | number:'1.3-3'" (ngModelChange)="changeProperty('top', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Angle</div>
                        <input class="property-input" [ngModel]="selectedObject.angle | number:'1.3-3'" (ngModelChange)="changeProperty('angle', $event)">
                    </div>
                </div>

                <div class="property-group">
                    <div class="property-group-name">Dimensions</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">Height</div>
                        <input class="property-input" [ngModel]="selectedObject.height | number:'1.3-3'" (ngModelChange)="changeProperty('height', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Width</div>
                        <input class="property-input" [ngModel]="selectedObject.width | number:'1.3-3'" (ngModelChange)="changeProperty('width', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Border</div>
                        <input class="property-input" type="number" [ngModel]="selectedObject.strokeWidth | number" (ngModelChange)="changeProperty('strokeWidth', $event)">
                    </div>
                </div>

                <div class="property-group">
                    <div class="property-group-name">Colors</div>
                    <hr class="solid property-group-name-divider">
    
                    <div class="property">
                        <div class="property-name">Background</div>
                        <input class="property-input-color" [colorPicker]="selectedObject.fill"  (colorPickerChange)="changeProperty('fill', $event)" [cpPosition]="'left'" [style.background]="selectedObject.fill"/>
                    </div>
                    <div class="property">
                        <div class="property-name">Border</div>
                        <input class="property-input-color" [colorPicker]="selectedObject.stroke"  (colorPickerChange)="changeProperty('stroke', $event)" [cpPosition]="'left'" [style.background]="selectedObject.stroke"/>
                    </div>
                </div>
            </div>
    
            <div *ngSwitchCase="'line'">
                <div class="property-group">
                    <div class="property-group-name">Position</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">X</div>
                        <input class="property-input" [ngModel]="selectedObject.left | number:'1.3-3'" (ngModelChange)="changeProperty('left', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Y</div>
                        <input class="property-input" [ngModel]="selectedObject.top | number:'1.3-3'" (ngModelChange)="changeProperty('top', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Angle</div>
                        <input class="property-input" [ngModel]="selectedObject.angle | number:'1.3-3'" (ngModelChange)="changeProperty('angle', $event)">
                    </div>

                </div>

                <div class="property-group">
                    <div class="property-group-name">Dimensions</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">Stroke</div>
                        <input class="property-input" [ngModel]="selectedObject.strokeWidth | number:'1.3-3'" (ngModelChange)="changeProperty('strokeWidth', $event)">
                    </div>

                </div>

                <div class="property-group">
                    <div class="property-group-name">Colors</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">Background</div>
                        <input class="property-input-color" [colorPicker]="selectedObject.stroke"  (colorPickerChange)="changeProperty('stroke', $event)" [cpPosition]="'left'" [style.background]="selectedObject.stroke"/>
                    </div>
                </div>
            </div>
    
            <div *ngSwitchCase="'textbox'">
                <div class="property-group">
                    <div class="property-group-name">Position</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">X</div>
                        <input class="property-input" [ngModel]="selectedObject.left | number:'1.3-3'" (ngModelChange)="changeProperty('left', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Y</div>
                        <input class="property-input" [ngModel]="selectedObject.top | number:'1.3-3'" (ngModelChange)="changeProperty('top', $event)">
                    </div>
                    <div class="property">
                        <div class="property-name">Angle</div>
                        <input class="property-input" [ngModel]="selectedObject.angle | number:'1.3-3'" (ngModelChange)="changeProperty('angle', $event)">
                    </div>
                </div>

                <div class="property-group">
                    <div class="property-group-name">Font</div>
                    <hr class="solid property-group-name-divider">

                    <div class="property">
                        <div class="property-name">Type</div>
                        <select class="property-select" (ngModelChange)="changeProperty('fontFamily', $event)" [(ngModel)]="selectedObject.fontFamily">
                            <option *ngFor="let font of fonts" (ngModel)="font">{{font}}</option>
                        </select>
                    </div>
                    <div class="property">
                        <div class="property-name">Size</div>
                        <input class="property-input" type="number" [ngModel]="selectedObject.fontSize" (ngModelChange)="changeProperty('fontSize', $event)">
                    </div>
                </div>

                <div class="property-group">
                    <div class="property-group-name">Colors</div>
                    <hr class="solid property-group-name-divider">
                
                    <div class="property">
                        <div class="property-name">Font</div>
                        <input class="property-input-color" [colorPicker]="selectedObject.fill"  (colorPickerChange)="changeProperty('fill', $event)" [cpPosition]="'left'" [style.background]="selectedObject.fill"/>
                    </div>
                    <div class="property">
                        <div class="property-name">Border</div>
                        <input class="property-input-color" [colorPicker]="selectedObject.stroke"  (colorPickerChange)="changeProperty('stroke', $event)" [cpPosition]="'left'" [style.background]="selectedObject.stroke"/>
                    </div>
                </div>
            </div>
    
            
    
            <div *ngSwitchCase="'group'">
                group
            </div>
            <div *ngSwitchDefault>
                default
            </div>
        </span>
    </div>
</div>