.menu-top-section {
    position: fixed;
    width: 100%;
    height: 4%;
    z-index: 100;
    -webkit-box-shadow: -5px 1px 31px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 1px 31px -1px rgba(0,0,0,0.75);
    box-shadow: -5px 1px 31px -1px rgba(0,0,0,0.75);
}

.menu-left-section {
    position: fixed;
    top: 30%;
    width: 2%;
    height: 25%;
    z-index: 99;
    left: 0%;
    -webkit-box-shadow: -5px 10px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 15px -1px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 15px -1px rgba(0,0,0,0.75);
}

.menu-right-section {
    position: fixed;
    top: 4%;
    width: 20%;
    height: 96%;
    z-index: 99;
    right: 0%;
    -webkit-box-shadow: -5px 50px 31px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 50px 31px -1px rgba(0,0,0,0.75);
    box-shadow: -5px 50px 31px -1px rgba(0,0,0,0.75);
}

.menu-bottom-section {
    position: fixed;
    width: 20%;
    height: 5%;
    z-index: 100;
    bottom: 0%;
}

.editor-section {
    position: fixed;
    top: 4%;
    width: 80%;
    height: 96%;
}