.menu-top-section {
    position: fixed;
    width: 80%;
    height: 5%;
    z-index: 100;
    -webkit-box-shadow: -5px 1px 31px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 1px 31px -1px rgba(0,0,0,0.75);
    box-shadow: -5px 1px 31px -1px rgba(0,0,0,0.75);
}

.menu-right-section {
    position: fixed;
    width: 20%;
    height: 100%;
    z-index: 100;
    right: 0%;
    -webkit-box-shadow: -5px 50px 31px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 50px 31px -1px rgba(0,0,0,0.75);
    box-shadow: -5px 50px 31px -1px rgba(0,0,0,0.75);
}

.menu-bottom-section {
    position: fixed;
    width: 20%;
    height: 5%;
    z-index: 100;
    bottom: 0%;
}

.editor-section {
    position: fixed;
    width: 80%;
    height: 100%;
}