<div class="modal-header">
	<h5 class="modal-title pull-left">Save image</h5>
	<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">Do you realy want to save your image?</div>
    </div>
    <form (ngSubmit)="saveImage()" #addTodoElementForm="ngForm">
        <label>Name</label>
        <input id="todo-title-input" name="imgName" class="form-control" required [(ngModel)]="imageName" #imgName="ngModel">
        <div *ngIf="imgName.invalid && (imgName.dirty || imgName.touched)" class="alert alert-danger">
          <div *ngIf="imgName.errors.required">
            Name is required.
          </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!imgName.valid">Save image</button>
    </form>

</div>

